<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guafindel.demo.mapper.MemberMapper">

	<resultMap type="com.guafindel.demo.domain.MemberInfo" id="resultMemberInfo">
		<id property="idx" column="idx"/>
		<result property="mId" column="mId"/>
		<result property="mPw" column="mPw"/>
		<result property="mName" column="mName"/>
		<result property="mPhoto" column="mPhoto"/>
		<result property="regDate" column="date"/>
		<!-- verify, code 추가 -->
		<result property="verify" column="verify"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<!-- 회원로그인 -->
	<select id="selectMemberById" resultMap="resultMemberInfo">
		select * from guafindel_db.member
		where mid=#{mId}
	</select>
	
</mapper>